{% extends "./base.html" %}

{% block content %}
<div class='container mt-5'>
    <div class='card bg-dark  text-white text-center'>
      <div class='card-header'>
        <h4 class='d-inline align-middle' id='n' data-n="{{n}}">{{ n }}Back問題</h4>
      </div>
      <div class='card-body bg-light text-dark'>
    　　<div class='card-text'>
          <h4 id='n_back_q'>
            ファイト
          </h4>
        </div>
        <hr />
        <div>
          <input type='text' id='answer' autofocus />
        </div>
      </div>
      <div class='card-footer'>
        <span></span>
        <button type="button" id='start_nback' class="btn btn-info">start</button>
      </div>
    </div>
</div>
{% endblock %}